{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>

<body>
    <div id="game_container"></div>
    <script src="{% static '/js/gameengines/Puyo/game.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/settings.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/board.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/renderengine.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/score.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/player.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/puyo.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/bot.js' %}"></script>
    <script src="{% static '/js/gameengines/Puyo/assets.js' %}"></script>
</body>

</html>