@import './variables';

canvas{
    border:1px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: $gameScreen_bgnClr ;
}

.gameSettings{
    width:20%;
    height:100%;
    display: inline-block;
    background-color: purple;
}

.field, .field2, .field3{
    width: 40%;
    height: 100%;
    border:1px solid;
    background-color: $gameField_bgnClr;
    display: inline-block;
}

.plHint, .plHint2, .plHint3{
    width:20%;
    height:40%;
    background-color: blue;
    display: inline-block;
}
.plScore, .plScore2, .plScore3 {
    width:80%;
    height:20%;
    background-color: pink;
    display: inline;
}
.plField, .plField2, .plField3 {
    width:80%;
    height:80%;
    background-color: black;
    display: inline;
}
